#card-project {
  display: block;
  box-sizing: border-box;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dddddd;
}
#card-project:first-child {
  padding-top: 0 !important;
}
#card-project:last-child {
  padding-bottom: 0 !important;
  border-bottom: none !important;
}
#card-project #thumbnail {
  margin-bottom: 1rem;
}
#card-project #thumbnail a img {
  width: 100%;
}
#card-project #tag {
  margin-bottom: 1rem;
  color: #ddd;
  font-family: Raleway;
  font-size: 1.2rem;
  text-transform: uppercase;
}
#card-project #title {
  font-size: 1.2rem;
  margin: 0;
}
#card-project #title a {
  color: black;
}
#card-project #title a:hover {
  text-decoration: none !important;
}
